<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h3>Tags</h3>
    <input type="text" id="tag search" name="tag search">
    <button type="button" id="tag search button" onclick="searchTags()">Search</button>

    <script>
      var input = document.getElementById("tag search");
      input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
          event.preventDefault();
          document.getElementById("tag search button").click();
        }
      });
      function searchTags() {
        var input = document.getElementById("tag search");
        if (input.value.trim().length > 0)
          window.location = "/blogs/tags/" + input.value.trim();
        else
          window.location = "/blogs";
      }
    </script>

    <h2>All Blogs</h2>

    <% var numBlogsDisplayed = 0; %>
    <% blogs.forEach(blog => { %>
      <% var hasTag = true %>
      <% tagsToSearch.forEach(tag => { %>
        <% if (!blog.tags.includes(tag)) hasTag = false; %>
      <% }) %>
      <% if (hasTag) { numBlogsDisplayed += 1; %>
      <a class="single" href="/blogs/<%= blog._id %>">
        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>
        <i><small>
          <% for (i = 0; i < blog.tags.length; i++) { %>
            <%= blog.tags[i] %><% if (i != blog.tags.length - 1) { %>,
            <% } %>
          <% } %>
        </small></i>
      </a>
      <% } %>
    <% }) %>
    <% if (numBlogsDisplayed == 0) { %>
      <p>There are no blogs to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>